* {
    padding: 0;
    margin: 0;
}

body {
    letter-spacing: 0.1em;
}

.container-fluid {
    width: 100vw;
    height: 100vh;
    background: radial-gradient(#f7f9f8, #dcf5dc,)
}

.LP-title {
    margin-bottom: 60px;
}

.contents {
    .text-content {
    margin-bottom: 80px;
    }
    h2 {
    color: red;
    margin-bottom: 40px;
    }
}

.inquiries, .inquiries-confirm, .send-completely {
    form {
        padding-top: 10px;
        max-width: 600px;
        margin: 0px auto;
    }

    .button {
        text-align: center;
    }
}